@import "@/styles/variables.scss";

.stack {
  display: flex;
  flex-direction: var(--stack-direction, column);
  gap: var(--stack-gap, 0);
  align-items: var(--stack-align, stretch);
  justify-content: var(--stack-justify, flex-start);
  flex-wrap: var(--stack-wrap, nowrap);
}
