@use "@/styles/variables.scss" as *;

.entry-list {
  &--empty {
    text-align: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--spacing-md);
  }

  &__content {
    flex: 1;
  }

  &__link {
    display: block;
    flex: 1;
  }

  &__details {
    align-items: flex-start;
  }

  &__actions {
    display: flex;
    gap: var(--spacing-sm);
  }
}

@media (min-width: $breakpoint-tablet) {
  .entry-list {
    &__item {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__content {
      --stack-direction: row;
      --stack-justify: space-between;
      --stack-align: flex-start;
      --stack-gap: var(--spacing-lg);
    }

    &__details {
      align-items: flex-end;
    }
  }
}
