@use "@/styles/variables.scss" as *;

.container {
  --gutter-width: var(--spacing-md);
  display: grid;
  grid-template-columns: minmax(var(--gutter-width), 1fr) minmax(
      0,
      var(--max-width-content)
    ) minmax(var(--gutter-width), 1fr);
  width: 100%;
  min-width: 0;

  @media (min-width: $breakpoint-tablet) {
    --gutter-width: var(--spacing-lg);
  }

  @media (min-width: $breakpoint-desktop) {
    --gutter-width: var(--spacing-xl);
  }

  &--wide {
    grid-template-columns: var(--gutter-width) auto var(--gutter-width);
  }

  &__content {
    grid-column: 2;
    min-width: 0;
  }

  &--full &__content {
    grid-column: 1;
    max-width: 100%;
  }
}
