@use "@/styles/variables.scss" as *;

.all-entries-page {
  &__filters {
  }

  &__results-header {
    margin-bottom: var(--spacing-md);
  }

  &__loading {
    padding: var(--spacing-2xl);
    text-align: center;
  }
}
