@use "@/styles/variables.scss" as *;

.text {
  margin: 0;
  line-height: var(--line-height-normal);

  /* Sizes */
  &--size-xs {
    font-size: var(--font-size-xs);
  }

  &--size-sm {
    font-size: var(--font-size-sm);
  }

  &--size-md {
    font-size: var(--font-size-md);
  }

  &--size-lg {
    font-size: var(--font-size-lg);
  }

  &--size-xl {
    font-size: var(--font-size-xl);
  }

  &--size-2xl {
    font-size: var(--font-size-2xl);
  }

  &--size-h1 {
    font-size: var(--font-size-4xl);
    line-height: var(--line-height-tight);
  }

  &--size-h2 {
    font-size: var(--font-size-3xl);
    line-height: var(--line-height-tight);
  }

  &--size-h3 {
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-tight);
  }

  &--size-h4 {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-tight);
  }

  /* Colors */
  &--color-primary {
    color: var(--color-text-primary);
  }

  &--color-secondary {
    color: var(--color-text-secondary);
  }

  &--color-tertiary {
    color: var(--color-text-tertiary);
  }

  &--color-success {
    color: var(--color-success);
  }

  &--color-success-light {
    color: var(--color-success-light);
  }

  &--color-danger {
    color: var(--color-danger);
  }

  &--color-danger-light {
    color: var(--color-danger-light);
  }

  &--color-warning {
    color: var(--color-warning);
  }

  &--color-info {
    color: var(--color-info);
  }

  &--color-inverse {
    color: var(--color-text-inverse);
  }

  /* Weights */
  &--weight-normal {
    font-weight: var(--font-weight-normal);
  }

  &--weight-medium {
    font-weight: var(--font-weight-medium);
  }

  &--weight-semibold {
    font-weight: var(--font-weight-semibold);
  }

  &--weight-bold {
    font-weight: var(--font-weight-bold);
  }
}
