@import "./variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-family);
  color: var(--color-text-primary);
  background-color: var(--color-background);
  height: 100%;
}

.app-container {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.app-main {
  padding: var(--spacing-lg) 0
    calc(var(--navigation-height-mobile) + 32px + env(safe-area-inset-bottom));
}

@media (min-width: $breakpoint-tablet) {
  .app-container {
    grid-template-rows: auto 1fr;
  }

  .app-main {
    padding: var(--spacing-xl) 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input,
select,
textarea {
  font-family: inherit;
}
