@import "../../styles/variables.scss";

.icon {
  display: inline-block;
  width: var(--icon-width, 20px);
  height: var(--icon-height, 20px);
  flex-shrink: 0;
  background-color: currentColor;
  mask-image: var(--icon-mask-image);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  -webkit-mask-image: var(--icon-mask-image);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
}
