@use "@/styles/variables.scss" as *;

.entries-table {
  overflow: hidden;

  &__row {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: var(--spacing-md);
    min-height: 68px;
    padding: var(--spacing-md);
    border-bottom: var(--border-width) solid var(--color-border);
    cursor: pointer;
    transition: background-color var(--transition-fast);

    &:hover {
      background-color: var(--color-background-secondary);
    }

    &:first-child {
      border-top-left-radius: var(--border-radius-md);
      border-top-right-radius: var(--border-radius-md);
    }

    &:last-child {
      border-bottom: none;
      border-bottom-left-radius: var(--border-radius-md);
      border-bottom-right-radius: var(--border-radius-md);
    }
  }

  &__account {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__details {
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);

    > * {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__amount {
    text-align: right;
  }

  &__empty {
    text-align: center;
  }
}

@media (min-width: $breakpoint-tablet) {
  .entries-table {
    &__row {
      min-height: 72px;
      padding: var(--spacing-md) var(--spacing-lg);
    }
  }
}
