@use "@/styles/variables.scss" as *;

.entry-detail-page {
  &__card,
  &__danger {
    width: 100%;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-md);
    padding-bottom: var(--spacing-xs);
    border-bottom: var(--border-width) solid var(--color-border);
  }
}
