@use "@/styles/variables.scss" as *;

.entries-page {
  &__section-heading {
    margin-bottom: var(--spacing-md);
  }

  &__header {
    margin-bottom: var(--spacing-md);
  }

  &__link {
    color: var(--color-primary);
    font-weight: var(--font-weight-medium);
    text-decoration: none;
    transition: color var(--transition-fast);

    &:hover {
      color: var(--color-primary-dark);
    }
  }
}
