@use "@/styles/variables.scss" as *;

.settings-page {
  &__preferences {
    padding-top: var(--spacing-sm);
    border-top: var(--border-width) solid var(--color-border);
  }
}

@media (min-width: $breakpoint-tablet) {
  .settings-page {
    &__actions {
      max-width: 320px;
    }
  }
}
