@use "@/styles/variables.scss" as *;

.settings-page {
  width: 100%;

  &__panel {
    .card {
      border-radius: 28px;
    }

    .select__field {
      min-height: 52px;
      border-radius: 18px;
      background-color: var(--color-background-secondary);
    }

    .select__label {
      color: var(--color-text-secondary);
    }
  }
}
