@use "@/styles/variables.scss" as *;

.checkbox {
  cursor: pointer;
  user-select: none;

  &__input {
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: var(--color-primary);
  }
}
