@use "@/styles/variables.scss" as *;

.date-range-input {
  &__field {
    border: var(--border-width) solid var(--color-border);
    border-radius: var(--border-radius-md);
    background-color: var(--color-background);
  }

  &__field-layout {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    align-items: center;
    gap: var(--spacing-sm);
  }

  &__input {
    min-width: 0;
    padding: var(--spacing-sm) 0;
    border: none;
    background-color: transparent;
    color: var(--color-text-primary);
    font-size: var(--font-size-md);
    font-family: inherit;

    &:focus {
      outline: none;
    }
  }
}
