@use "@/styles/variables.scss" as *;

.verify-login-page {
  width: 100%;
  min-height: calc(100vh - (var(--spacing-xl) * 2));
  display: flex;
  align-items: center;
  justify-content: center;

  &__card {
    width: 100%;
    border: var(--border-width) solid var(--color-border);
    border-radius: var(--border-radius-lg);
    background-color: var(--color-background);
    box-shadow: var(--shadow-md);
  }
}

@media (min-width: $breakpoint-tablet) {
  .verify-login-page {
    min-height: calc(100vh - (var(--spacing-2xl) * 2));
  }
}
